
    @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
    text-align: center;
    background-color: blanchedalmond;
    font-size: 30px;
}

h1 {

    font-family:'Bebas Neue', cursive;;
    color: black;
}

.paragrafo1 {

    font-family:'Marcellus SC', serif;
    color: black
}

.paragrafo2 {

    font-family:'Kosugi Maru', sans-serif;
    color: black;
}

.paragrafo3 {

    font-family:'Balsamiq Sans', cursive;
    color: black;
}

.paragrafo4 {

    font-family:'Pacifico', cursive;
    color: black;
}

.paragrafo5 {

    font-family:'Syne Mono', monospace;
    color: black;
}